@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 40px;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin-top: 20px;
    margin-right:50px;
    margin-bottom: 20px;
    margin-left: 50px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin: 50px
}

.topic {
    background: lightgray;
    /*add CSS here*/
    display: inline-block;
    margin-right: 150px;
    margin-left:150px;
}

